<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="referrer" content="strict-origin" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,viewport-fit=cover,shrink-to-fit=no">
		<title>
			川流严选
		</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://chuanliu.org/assets/images/favicon.ico">
		<link rel="icon" type="image/x-icon" href="https://chuanliu.org/assets/images/favicon.ico">
		<link rel="apple-touch-icon" href="https://chuanliu.org/assets/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="./assets/css/css.css">
	</head>
	<body>
		<div class="container" id="app" v-cloak>
			<div class="menu">
				<button class="menu-button" onclick="shows()">
					<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
				</button>
				<div class="menu-list" >
					<div class="menu-item">
						<img src="https://chuanliu.org/assets/images/logo.png" class="logo">
					</div>
					<div class="menu-item" v-for="navItem in nav">
						<a :href="navItem.link">
							<span  :class="navItem.title.trim() == '川流严选' ? 'rainbow-text' : ''">
								{[ navItem.title ]}
							</span>
							<span class="rainbow-text" style="font-size:12px" v-if="navItem.title.trim() == '川流严选'">
								（内测）
							</span>
							<span style="font-size:12px" v-if="navItem.title.trim() == '川流作者'">
								（随机）
							</span>
							<span style="font-size:12px" v-if="navItem.title.trim() == '川流广场'">
								（时序）
							</span>
						</a>
					</div>
					
				</div>
			</div>
			<div class="list">
				<div v-for="item in datas" class="item">
					<div class="item-title">
						<div class="item-link-span">
							<a :href="handlelink(item)" target="_blank" :class="(handlestar(item) ? 'rainbow-text ':'') + ' item-link-a'" style="font-size:16px">
								{[handletitle(item)]}
								<span v-if="handlestar(item)"  class="rainbow-text" style="font-size: 0.5em">☆</span>
								<span style="font-size: 0.5em;" v-if="(new Date().getTime() / 1000 - item.createdTs) < 24*60*60*7 && !handlestar(item)" class="rainbow-text">
									NEW
								</span>
								</a>
								<span class="summary-tip">手写推荐原因：<br><span v-html="handlesummary(item)"></span>
								</span>
						</div>
						<span class="item-time">
							<a :href="handleweb(item)" target="_blank">
								@{[handleuser(item)]}
								</a>
						</span>
					</div>
					<div class="item-user">
						{[format(item.createdTs).substr(0,10)]}
					</div>
				</div>
				<div class="item" @click="next" >
					<button class="more-btn">
						{[moreBtnShow]}
					</button>
				</div>
			</div>
		</div>
		<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"
		type="application/javascript">
		</script>
		<script type="text/javascript" src="config.js">
		</script>
		<script type="text/javascript" src="assets/js/index.js">
		</script>
	</body>

</html>