  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="strict-origin" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,viewport-fit=cover,shrink-to-fit=no">
    <meta name="author" content="" />
    
	
	
	<title>伙伴 ｜ 川流</title>
	

	 
    
    <meta name="description" content="" />
    

    

    <script type="text/javascript">
      if (location.href.indexOf("pyq.cool") != -1) {
        window.location.href = "https://chuanliu.org/memos/";
      }
    </script>
    
    <link rel="shortcut icon" type="image/x-icon" href="https://chuanliu.org/assets/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://chuanliu.org/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://chuanliu.org/assets/images/favicon.png">

      
    </head>
<body>
    <link rel="stylesheet" href="https://chuanliu.org/assets/css/txt-member.css" type="text/css">

    <div id="app" style="max-width: 1260px;margin: auto;" v-cloak>
                    <header>
                ====================
                <br>
                ==
                <a href="/" style="font-weight: bold;">
                川流 Chuanliu.org
                </a>
                ==
                <br>
                ====================
                <div style="float:right">
                </div>
                <br>
                <p>
                    <nav>
                       <a href="https://chuanliu.org//nice/" style="padding: 8px;margin-right: 5px;color: red;background: linear-gradient(to right,#ff0000,#0000ff);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation:blink 1.9s infinite;font-weight: bold;">
                        川流严选 👈🏻
                      </a>/
                        <a href="https://chuanliu.org/">
                            <b>
                                Normal
                            </b>
                        </a>
                         / 
                         <a href="https://chuanliu.org/txt/">
                            <b>
                                Home
                            </b>
                        </a>
                         / 
                        <a href="https://chuanliu.org/txt/member/">
                            <b>
                                Member
                            </b>
                        </a>
                         / 
                        <a href="https://chuanliu.org/txt/about/">
                            <b>
                                About
                            </b>
                        </a>
                        / 
                        
                       
                         
                    </nav>
                </p>
            </header>
          <div class="waterfall-container">
                <p class="section">
                    | 统计
                </p>
            </div>
            <div class="waterfall-container">
                <div class="waterfall-column-count">
                    <h4>
                        users {[ datas.length ]}
                    </h4>
                </div>
                <div class="waterfall-column-count">
                    <h4>
                        article {[ aTotal ]}
                    </h4>
                </div>
                <div class="waterfall-column-count">
                    <h4>
                        watch {[ aWatch ]}
                    </h4>
                </div>
                 <div class="waterfall-column-count">
                    <h4>
                        like {[ aLike ]}
                    </h4>
                </div>
            </div>
            <div class="waterfall-container">
                <p class="section">
                    | 伙伴·随机
                </p>
            </div>
            <div class="waterfall-container">
                <div class="waterfall-column" v-for="item in datas" >
                    <h4 class="title">
                        <a :href="item.rss_link.split('://')[0] + '://'+ item.rss_link.split('://')[1].split('/')[0]"
                        target="_blank">
                            {[ item.user_name ]}
                        </a>
                    </h4>
                    <div class="subinfo">
                        <div class="time">
                            <img :src="item.avatar" class="avatar" onerror="this.src='https:\/\/chuanliu.org\/assets/images/default-about-avatar.webp'" style="object-fit: cover;"> 
                            {[ item.create_time.substr(0,10) ]}
                        </div>
                    </div>
                    <div class="link">
                        <a :href="item.rss_link.split('://')[0] + '://'+ item.rss_link.split('://')[1].split('/')[0]">
                            {[ item.rss_link.split("://")[1].split("/")[0] ]}
                        </a>
                    </div>
                    <div class="watch">
                        <div>
                            total {[ item.total ]}
                        </div>
                         <div>
                            like {[ item.like ]}
                        </div>
                        <div style="display: flex;align-items: center">
                              watch {[ item.watch ]} 
                        </div>
                    </div>
                    <div>
                        <div v-if="item.recent != undefined" v-for="re in item.recent" @click="watch(re.id)" style="margin:auto;width:100%;height: 23px;font-size:12px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%!important;"><a style=""  :href="re.link" target="_blank">《{[re.title]}》</a>
                        </div>
                        <div v-else  style="margin:auto;width:100%;height: 69px;"><a style="font-size:12px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;"   target="_blank">暂无更新或无法拉取</a></div>
                    </div>
                </div>
            </div>
            
            

                       
        
    </div>

    


    
   
        <script type="text/javascript"  src="https://chuanliu.org/assets/js/pkg/jquery-3.5.1.min.js">
        </script>
        <script type="text/javascript" src="https://chuanliu.org/assets/js/pkg/vue.global.js">
        </script>
        <script type="text/javascript" src="https://chuanliu.org/config.js">
        </script>
        <script type="text/javascript" src="https://chuanliu.org/assets/js/global.js">
        </script>
    <script type="text/javascript" src="https://chuanliu.org/assets/js/member-txt.js"></script>
</body>
</html>  


 