 body.night-mode .main_header_area .header_menu .navbar.navbar-default.navbar-sticky-in .nav.navbar-nav li.active a {
    color: var(--primary-color) !important;
}

 body.night-mode .section-title h2 span, body.night-mode .section-title h3 {
    color: #e0e0e0;
}
body.night-mode footer.footermain::before {
    background: #181d20  !important;
}

body.night-mode footer *, .white {
    background: #181d20;
    color: #e0e0e0 !important;
}
body.night-mode a {
    color: #e0e0e0;
}


body footer.footermain::before {
    background: white  !important;
}

body footer *, .white {
    background: white;
    color: black !important;
}
body a {
    color: black;
}


.rainbow-text {
/*  background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #00ffff, #0000ff, #8000ff, #ff00ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: blink 2.5s infinite;*/
  background: linear-gradient(to right, #ff0000, #0000ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 2.5s infinite;
}

@keyframes blink {
   0% { color: red; opacity: 1;}
  50% { color: blue; opacity: 0;}
  100% { color: red;  opacity: 1;}
}


body {
     line-height: 1.4em;
     font-family: "MiSans",  "Playtwo", "Playone", sans-serif;
}

.section-title{
    margin-top:60px ;
}
 .container-2 {
     hyphens: auto;
}
}
 .container-2, .copyright, .header div, .menu {
     max-width: 1200px;
     margin: auto;
     padding: 0 15px;
}
 .article-list{
     border-radius: 8px;
}
 .summary{
     height: 160px;
     overflow: hidden;
     text-overflow: ellipsis;
}
  .summary-banner{
        height: 94px;
         overflow: hidden;
         text-overflow: ellipsis;
    }
    .summary-more{
         height: 130px;
         overflow: hidden;
         text-overflow: ellipsis;
    }
 .summary-text{
     color: #525252;
     font-size: 0.85rem;
     height: 100%;
}
 .summary-text p{
    height: inherit;
 }
 .thumbnail {
     position: relative;
     max-height: 4.8em;
     max-width: 5em;
     float: left;
     overflow: hidden;
     margin: 5px 8px 0px 0px;
     box-shadow: 1px 2px 6px 1px #d9d6d6;
     clear: both;
     margin-left: 4px;
     border-radius: 4px;
}
 img {
     max-width: 100%;
} 
.image{
     height:4.8em;
     width: 5em;
     object-fit: cover;
}
 .inline-time{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
     margin: 4px 0 4px 0px;
}

 .me-1 {
     margin-right: 0.25rem!important;
}
 .rounded-circle {
     border-radius: 50%!important;
}
 .avatar-round {
     width: 20px !important;
     height: 20px !important;
     display: inline !important;
     margin-bottom: 4px;
}
 .thumbnail::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.0);
    /* 设置暗色蒙版的颜色和透明度 */
     opacity: 1;
    /* 初始时设置透明度为 0，即不可见 */
     transition: opacity 0.3s ease;
    /* 添加过渡效果 */
     transition: all ease-in-out 0.5s;
}
 .thumbnail:hover::before {
     opacity: 1;
    /* 当鼠标悬停在图片上时，将透明度设置为 1，即完全可见 */
     background-color: rgba(0, 0, 0, 0.2);
    /* 设置暗色蒙版的颜色和透明度 */
     transition: all ease-in-out 0.5s;
}
 .list section {
     flex: 1 0 350px;
     box-sizing: border-box;
     box-shadow: 0 0 15px #cccccc37;
     margin: 1em 1em 1em 1.2em;
     padding: 1em;
     overflow-x: hidden;
     transition: all ease-in-out 0.5s;
}
.list-banner section {
     flex: 1 0 350px;
     box-sizing: border-box;
     box-shadow: 0 0 15px #cccccc37;
     margin: 1em 1em 1em 1.2em;
     padding: 1em;
     overflow-x: hidden;
     transition: all ease-in-out 0.5s;
}

.list-banner-more section {
     flex: 1 0 350px;
     box-sizing: border-box;
     box-shadow: 0 0 15px #cccccc37;
     margin: 1em 1em 1em 1.2em;
     padding: 1em;
     overflow-x: hidden;
     transition: all ease-in-out 0.5s;
}
 .list {
     display: flex;
     flex-wrap: wrap;
     margin-left: -15px;
}

.list-banner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}


.list-banner-more {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}

 .article-list h1,.categories,.date-author,.date-time {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
 .title{
     height: 30px;
     font-size: 21px;
     margin: 8px 0 8px 0px;
}
 .categories{
     height: 16px;
     text-transform: capitalize;
     margin: 8px 0 8px 0px;
     color:var(--primary-color)!important;
     border-left: 2px solid var(--primary-color);
     padding-left: 5px;
     font-size: 12px;
     line-height: 1.4em;
}
 .date-author{
    text-align: right;
    width: 40%;
     height: 20px;
     font-size: 12px;
}
 .date-time{
    width: 60%;
     height: 20px;
     font-size: 12px;
}
 .time{
     font-size: 12px;
     color: #949393;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
 .active a, .article-list a, .categories a, .comments a, .header a, footer a {
     text-decoration: none;
}
 .article-list h1, .title {
     line-height: 1.2em;
}
 .article-list h1 {
     margin: .2em auto .5em 0;
}

 .article-list:hover {
     transition: all ease-in-out 0.5s;
     transform: translateY(-10px);
}
 .article-list:hover::before {
     transition: all ease-in-out 0.5s;
     width: 100%;
}
 main {
     margin-bottom: 15px;
}
 @media (max-width: 715px){
     .summary{
         height: 130px;
         overflow: hidden;
         text-overflow: ellipsis;
    }
    .list {
         margin-left: 0px;
    }

    .list-banner {
        margin-left: 0px;
    }


    .list-banner-more {
        margin-left: 0px;
    }


}
 @media (min-width: 715px){
     .list section {
         max-width: calc(50% - 15px);
    }
     .list-banner section {
         max-width: calc(100% - 15px);
    }
     .list-banner-more section {
         max-width: calc(50% - 15px);
    }
    /* .article-list h1 {
         overflow-x:hidden;
         white-space:nowrap;
         text-overflow:ellipsis 
    }*/
}
 @media (min-width: 1080px){
     .list section {
         max-width: calc(33.33333% - 15px);
    }
    .list-banner section {
         max-width: calc(100% - 15px);
    }
     .list-banner-more section {
         max-width: calc(50% - 15px);
    }
}
 