 .tags-box{
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:50px 
}
 .tags-box a div {
    /* transition: transform 0.5s ease;
    */
     transition: font-size 0.5s ease;
}
 .tags-box a div:hover {
    /* transform: translate(10px, 10px);
    */
     font-size: 22px;
     color: gray !important;
}
 .row{
     width:100%;
/*    height: 180px;*/
}
 .summary {
     max-height:70px;
    overflow: hidden;
    text-overflow: ellipsis;
}
 .img-cover-h153{
     height: 180px;
     max-height: 180px;
}
 .image-text-cus {
     height: 180px;
     max-height: 180px;
}
 .mb-2 {
     margin-bottom: 0.6rem !important;
}
 @media (max-width: 700px){
     .blog-content {
         text-align: left !important;
         padding-top: 0px !important;
    }
     .summary {
         max-height:100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
     .row{
         width:100%;
/*        height: 180px;*/
    }
     .row [class*="col-"] {
         padding: 0px 0px 0px 12px;
    }
     .mb-2 {
         margin-bottom: 0.5rem !important;
    }
     .img-cover-h153{
         height: 140px;
         max-height: 140px;
    }
     .image-text-cus {
         height: 140px;
         max-height: 140px;
    }
}
