     [v-cloak] {
                    display:none !important;
                }
                .container {
                    -moz-column-count:3;
                    column-count:3;
                    /* 设置列数 */ -moz-column-gap:1;
                    column-gap:1;
                    /* 设置列间距
                            */ counter-reset:item-counter;
                }
                .column-item {
                    break-inside:avoid;
                    /*
                            防止内容被分割到不同的列中 */ margin-bottom:20px;
                    /* 调整每个列的底部间距 */
                }
                .waterfall-container {
                    display:flex;
                    justify-content:space-between;
                    flex-wrap:wrap;
                    margin:auto;
                    width:90%;
                }
                .waterfall-column {
                    width:30%;
                    /* 调整列的宽度 */ display:flex;
                    flex-direction:column;
                    flex-wrap:nowrap;
                    border-bottom: 1px dotted blue ;
                    margin-bottom:25px;
                    padding-bottom: 10px;
                }
                .waterfall-column-count {
                    width:20%;
                    /* 调整列的宽度 */ display:flex;
                    flex-direction:column;
                    flex-wrap:nowrap;
                    border-bottom: 1px dotted blue ;
                    margin-bottom:25px;
                    padding-bottom: 10px;
                }
                .waterfall-column >
                            * {
                    margin-bottom:25px;
                    /* 调整每个元素的底部间距 */
                }
                a:visited {
                    color:blue !important;
                }
                a:active {
                    color:blue !important;
                }
                a:hover {
                    color:#6c6cd6 !important;
                }
                a {
                    text-decoration:underline;
                    color:blue !important;
                    cursor:pointer;
                    /* text-decoration:none;
                    border-bottom:1px dotted blue;
                    */
                }
                nav {
                    line-height:30px;
                }
                .summary {
                    display:-webkit-box;
                    -webkit-line-clamp:3;
                    /* 超出3行显示省略号
                            */ -webkit-box-orient:vertical;
                    max-height:130px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    word-break:break-word;
                    margin-bottom:6px;
                }
                .title {
                    width:100%;
                    white-space:nowrap;
                    max-height:30px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
                .summary p {
                    margin:0px;
                }
                .time {
                    display:-webkit-box;
                    -webkit-line-clamp:1;
                    /* 超出3行显示省略号 */ -webkit-box-orient:vertical;
                    max-height:130px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    word-break:break-word;
                    width:90%;
                    font-size: 12px;
                }
                header {
                    margin:auto;
                    width:90%;
                }
                .button-center {
                    text-align:center;
                    margin-bottom:10px;
                }
                .section {
                    font-weight:bold;
                    margin-top:60px;
                }
                .watch {
                    /* text-align:right;
                    */ width:100%;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    /* white-space:nowrap;
                    */ display:flex;
                    justify-content:space-between;
                    font-size: 14px;
                }
                .subinfo {
                    display:flex;
                    flex-wrap:nowrap;
                    justify-content:space-between
                }
                .watch-bottom {
                    display:none;
                }
                @media (max-width:600px) {
                    .waterfall-column {
                    width:96%;
                    /* 调整列的宽度 */
                }
                .time {
                    display:-webkit-box;
                    -webkit-line-clamp:2;
                    /* 超出3行显示省略号 */ -webkit-box-orient:vertical;
                    max-height:130px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    word-break:break-word;
                    width:100%;
                }
                .watch {
                    display:flex;
                    justify-content:space-between
                }
                .watch-bottom {
                    display:block;
                    width:100%;
                    text-align:right;
                }
                }.link {
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                .avatar {
                    width:30px;
                    height:30px;
                    border-radius:50%;
                }