      
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="strict-origin" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,viewport-fit=cover,shrink-to-fit=no">
    <meta name="author" content="" />
    
	
	
	<title>伙伴 ｜ 川流</title>
	

	 
    
    <meta name="description" content="" />
    

    

    <script type="text/javascript">
      if (location.href.indexOf("pyq.cool") != -1) {
        window.location.href = "https://chuanliu.org/memos/";
      }
    </script>
    <style type="text/css">
      [v-cloak] { display:none !important; }
    </style>

    
    <link rel="shortcut icon" type="image/x-icon" href="https://chuanliu.org/assets/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://chuanliu.org/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://chuanliu.org/assets/images/favicon.png">
  
    
    <link href="https://chuanliu.org/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://chuanliu.org/assets/css/plugin.css" rel="stylesheet" type="text/css">
     
    <link href="https://chuanliu.org/assets/fonts/flaticon.css" rel="stylesheet" type="text/css">
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css" rel="stylesheet" />
    <link href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/5.2.0/css/all.min.css"
    type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://chuanliu.org/assets/fonts/line-icons.css" type="text/css">
    
    <link href="https://chuanliu.org/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://chuanliu.org/assets/css/style2.css" rel="stylesheet" type="text/css">
        <link href="https://chuanliu.org/assets/css/style3.css" rel="stylesheet" type="text/css">

  </head>
<body>
    <div id="app" style="max-width: 1260px;margin: auto;" v-cloak>
                 
          <div id="preloader">
            <div id="status" :style="(mode == 'dark' ?  'background: url(assets/images/loader-black.gif);' :'') +  'background-size: cover;background-position: center;opacity: 1;transform: translate(-50%, -50%);visibility: visible;transition: all ease-in-out 0.5s;z-index: 9999999999; '">
            </div>
          </div>
          
              
      <header class="main_header_area">
        <div class="header-content py-1 bg-lgrey">
          <div class="container d-flex align-items-center justify-content-between">
            <div class="links float-right">
              <marquee scrolldelay="50" behavior="scroll" onmouseover="this.stop();"
              onmouseleave="this.start();">
                <li>
                  <a href="#">
                    <i class="fa fa-star">
                    </i>
                    嗨
                  </a>
                </li>
              </marquee>
            </div>
          </div>
        </div>
        
        <div class="header_menu" id="header_menu">
            <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-2 pt-2">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">
                    <img src="https://chuanliu.org/assets/images/logo.png" alt="image" >
                    <img src="https://chuanliu.org/assets/images/logo-white.png" alt="image" >
                  </a>
                </div>
                <div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav" id="responsive-menu">

                   
                      <li>
                    
                      <a href="/" >
                        川流广场
                      </a>
                    </li>
                    
                    <li class="active">
                    
                      <a href="https://chuanliu.org/member/" class="bold">
                        伙伴
                      </a>
                    </li>
                    
                      <li>
                    
                      <a href="https://chuanliu.org/about/">
                        关于
                      </a>
                    </li>
                    <li>
                      <a href="/memos/" target="_blank">
                        友圈
                      </a>
                    </li>
                    <li>
                      <a href="/rank/" target="_blank">
                        数据
                      </a>
                    </li>
                   
                    <li>
                      <a href="https://chuanliu.org/white/index.html">
                        清洁模式
                      </a>
                    </li>
                    <li>
                      <a href="https://chuanliu.org/txt/index.html">
                        txt模式
                      </a>
                    </li>
                  
          
                    
                    <li class="dark-mode-li">
                      <div  class="dark-mode" @click="modeSave('dark')"
                      onclick="setModeProto('dark')">
                        <a>
                          <i class="fa fa-moon">
                          </i>
                        </a>
                      </div>
                    </li>
                    <li class="light-mode-li">
                      <div class="light-mode" @click="modeSave('light')"  onclick="setModeProto('light')">
                        <a>
                          <i class="fa fa-sun" >
                          </i>
                        </a>
                      </div>
                    </li>
                  </ul>
                    
                  
                   <div style="display: flex;margin: 0px 6px 0px 6px;"> <input type="color" v-model="selectedColor" @change="changeColor" /> </div>
                </div>
                <div id="slicknav-mobile">
                </div>
              </div>
            </div>
          </nav>
        </div>
        
      </header>
      
              
      <section class="counter-main pb-6">
        <div class="container">
          <div class="counter text-center">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="counter-item bg-lgrey">
                  
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"
                    />
                  </svg>
                  <h3 class=" mb-0 theme">
                    <span>
                      {[ datas.length ]}
                    </span>
                  </h3>
                  <h4 class="m-0">
                    伙伴数
                  </h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="counter-item bg-lgrey">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"
                    />
                  </svg>
                  <h3 class=" mb-0 theme">
                    <span>
                      {[ aTotal ]}
                    </span>
                  </h3>
                  <h4 class="m-0">
                    文章数
                  </h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="counter-item bg-lgrey">
                 <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>
                  <h3 class=" mb-0 theme">
                    <span>
                      {[ aWatch]}
                    </span>
                  </h3>
                  <h4 class="m-0">
                    观看数
                  </h4>
                </div>
              </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="counter-item bg-lgrey">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                  <h3 class=" mb-0 theme">
                    <span>
                      {[ aLike]}
                    </span>
                  </h3>
                  <h4 class="m-0">
                    点赞数
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="testimonial pb-6">
        <div class="container">
          <div class="section-title mb-4 pb-1 w-50">
            <h2 class="m-0">
              伙伴·随机
            </h2>
          </div>
          <div class="row">
            <div class="col-sm-4 item" v-for="item in datas">
              <div class="testimonial-item1 text-center">
                <div class="details">
                  <p class="m-0" style="height:50px;overflow: hidden;text-overflow: ellipsis;">
                    {[ item.description ]}
                  </p>
                </div>
                <div class="author-info mt-2">
                  <a :href="handle(item)" target="_blank">
                    <img :src="item.avatar == '' || item.avatar == undefined || item.avatar == null ? 'https://chuanliu.org/assets/images/default-about-avatar.webp' : item.avatar  "
                    alt="" style="object-fit: cover;" onerror="this.src='https:\/\/chuanliu.org\/assets/images/default-about-avatar.webp'">
                  </a>
                  <div class="author-title">
                    <h4 class="m-0 avatar">
                      <a :href="handle(item)" target="_blank" class="avatar">
                        {[ item.user_name ]}
                      </a>
                    </h4>
                    <div style="font-size:12px;color: #949393;">
                      <a :href="handle(item)" target="_blank" class="avatar">
                        {[ handle(item).split("://")[1] ]}
                      </a>
                    </div>
                    <div style="font-size:12px;color: #949393;">
                      {[ item.create_time.substring(0, 10) ]} 加入
                    </div>
                    <div style="font-size:12px;color: #949393;">
                    文章 {[ item.total ]} |  观看 {[ item.watch ]} |  喜欢 {[ item.like ]} 
                    </div>
                    <br>
                    <div style="font-size:12px;color: #949393;height: 23px;">
                      最近👇🏻
                    </div>
                    <div v-if="item.recent != undefined" v-for="re in item.recent" @click="watch(re.id)"
                    style="margin:auto;width:90%;height: 23px;">
                      <a style="font-size:12px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;"
                      :href="re.link" target="_blank">
                        《{[re.title]}》
                      </a>
                    </div>
                    <div v-else style="margin:auto;width:90%;height: 69px;">
                      <a style="font-size:12px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;"
                      target="_blank">
                        暂无更新或无法拉取
                      </a>
                    </div>
                  </div>
                </div>
                <i class="fa fa-quote-left mb-2">
                </i>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="testimonial pb-6">
        <div class="container">
          <div class="section-title mb-4 pb-1 w-50">
            <h2 class="m-0">
              联系方式 &
              <span>
                加入川流
              </span>
            </h2>
          </div>
          <table>
            <tr style="color:gray;">
              <td>
                加入川流
              </td>
              <td>
                <a style="text-decoration: underline;" href="https://docs.qq.com/form/page/DT3FWaUFZV3ZDbmda"
                target="_blank">
                  「提交表单」(已放慢速度，对不起)
                </a>
              </td>
            </tr>
            <tr style="color:gray;">
              <td>
                小胡 TG:
              </td>
              <td>
                @huhexian
              </td>
            </tr>
            <tr style="color:gray;">
              <td>
                韩宇 Email:
              </td>
              <td>
                hi#️⃣hahaha.cc
              </td>
            </tr>
            <tr style="color:gray;">
              <td>
                韩宇 TG:
              </td>
              <td>
                @okhanyu
              </td>
              
            </tr>
          </table>
        </div>
      </section>
        
    </div>
    
   
     
   
    <script src="https://chuanliu.org/assets/js/pkg/jquery-3.5.1.min.js">
    </script>
    <script src="https://chuanliu.org/assets/js/pkg/bootstrap.min.js">
    </script>
    <script src="https://chuanliu.org/assets/js/pkg/plugin.js">
    </script>
    <script src="https://chuanliu.org/assets/js/pkg/main.js">
    </script>
    <script src="https://chuanliu.org/assets/js/pkg/custom-swiper.js">
    </script>
    <script src="https://chuanliu.org/assets/js/pkg/custom-nav.js">
    </script>
    <script type="text/javascript" src="https://chuanliu.org/assets/js/pkg/fancybox.js" id="fancybox-js">
    </script>
    <script type="text/javascript" src="https://chuanliu.org/assets/js/pkg/vue.global.js">
    </script>
    <script type="text/javascript" src="https://js.cybozu.com/markedjs/v0.3.5/marked.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js">
    </script>
    <script type="text/javascript" src="https://chuanliu.org/config.js">
    </script>
    <script type="text/javascript" src="https://chuanliu.org/assets/js/global.js">
    </script>
 
    <script type="text/javascript" src="https://chuanliu.org/assets/js/member.js">
    </script>
</body>
</html>  


 